<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [4]:
pip install Pandas

SyntaxError: invalid syntax (3204358811.py, line 1)

## Imports

Import any additional libraries you may need here.

In [1]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01) and create a free account.
2.  Once the account is created. You will get the Get the Free API key option on the top as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/getapi.png"/>

3.  Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [3]:
# Write your code here
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=aa530f57b8af0133f688716b8fbb75d9"  #Make sure to change ******* to your API key.
#url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=3ae8a41ae8b314fe2c76abee00969ef2"  #Make sure to change ******* to your API key.
response = requests.get(url)
response.json()

{'success': True,
 'timestamp': 1651603765,
 'base': 'EUR',
 'date': '2022-05-03',
 'rates': {'AED': 3.862676,
  'AFN': 89.913098,
  'ALL': 120.672806,
  'AMD': 474.250245,
  'ANG': 1.886477,
  'AOA': 427.378929,
  'ARS': 121.85682,
  'AUD': 1.484145,
  'AWG': 1.892904,
  'AZN': 1.794857,
  'BAM': 1.948923,
  'BBD': 2.11343,
  'BDT': 90.821829,
  'BGN': 1.952378,
  'BHD': 0.396456,
  'BIF': 2123.206847,
  'BMD': 1.051613,
  'BND': 1.450851,
  'BOB': 7.185535,
  'BRL': 5.221575,
  'BSD': 1.0467,
  'BTC': 2.7914753e-05,
  'BTN': 80.246319,
  'BWP': 12.733693,
  'BYN': 3.521786,
  'BYR': 20611.61674,
  'BZD': 2.109843,
  'CAD': 1.351791,
  'CDF': 2123.207095,
  'CHF': 1.029866,
  'CLF': 0.032623,
  'CLP': 900.181135,
  'CNY': 6.949372,
  'COP': 4233.447304,
  'CRC': 696.730673,
  'CUC': 1.051613,
  'CUP': 27.867747,
  'CVE': 110.682229,
  'CZK': 24.653991,
  'DJF': 186.89293,
  'DKK': 7.44052,
  'DOP': 57.602323,
  'DZD': 152.220361,
  'EGP': 19.435596,
  'ERN': 15.774199,
  'ETB': 54.284938,
  'EUR': 1,
  'FJD': 2.280266,
  'FKP': 0.808314,
  'GBP': 0.842889,
  'GEL': 3.202138,
  'GGP': 0.808314,
  'GHS': 7.887623,
  'GIP': 0.808314,
  'GMD': 56.897071,
  'GNF': 9288.602152,
  'GTQ': 8.025405,
  'GYD': 219.003854,
  'HKD': 8.252797,
  'HNL': 25.692047,
  'HRK': 7.55868,
  'HTG': 119.273893,
  'HUF': 381.258122,
  'IDR': 15214.370252,
  'ILS': 3.526748,
  'IMP': 0.808314,
  'INR': 80.526644,
  'IQD': 1535.355125,
  'IRR': 44430.653733,
  'ISK': 137.803488,
  'JEP': 0.808314,
  'JMD': 161.674565,
  'JOD': 0.7456,
  'JPY': 136.911643,
  'KES': 121.209135,
  'KGS': 86.338906,
  'KHR': 4256.929792,
  'KMF': 489.789119,
  'KPW': 946.451914,
  'KRW': 1326.136516,
  'KWD': 0.32252,
  'KYD': 0.872238,
  'KZT': 461.449986,
  'LAK': 13026.856236,
  'LBP': 1585.026181,
  'LKR': 370.837484,
  'LRD': 159.327804,
  'LSL': 16.962425,
  'LTL': 3.10514,
  'LVL': 0.636111,
  'LYD': 5.014277,
  'MAD': 10.495371,
  'MDL': 19.521103,
  'MGA': 4233.925294,
  'MKD': 61.446317,
  'MMK': 1937.975174,
  'MNT': 3149.437369,
  'MOP': 8.461295,
  'MRO': 375.425695,
  'MUR': 44.902805,
  'MVR': 16.247195,
  'MWK': 850.971263,
  'MXN': 21.335779,
  'MYR': 4.578198,
  'MZN': 67.123983,
  'NAD': 16.962503,
  'NGN': 436.619216,
  'NIO': 37.486613,
  'NOK': 9.895868,
  'NPR': 128.403435,
  'NZD': 1.636479,
  'OMR': 0.404896,
  'PAB': 1.046691,
  'PEN': 4.029252,
  'PGK': 3.735597,
  'PHP': 55.224938,
  'PKR': 195.263358,
  'PLN': 4.692271,
  'PYG': 7137.672071,
  'QAR': 3.828919,
  'RON': 4.948266,
  'RSD': 117.381182,
  'RUB': 71.904053,
  'RWF': 1076.851813,
  'SAR': 3.944341,
  'SBD': 8.450119,
  'SCR': 13.969196,
  'SDG': 470.599067,
  'SEK': 10.391983,
  'SGD': 1.456815,
  'SHP': 1.448493,
  'SLL': 13250.325164,
  'SOS': 608.884402,
  'SRD': 21.877236,
  'STD': 21766.267951,
  'SVC': 9.158846,
  'SYP': 2642.124796,
  'SZL': 16.736844,
  'THB': 36.15405,
  'TJS': 13.036228,
  'TMT': 3.680646,
  'TND': 3.222132,
  'TOP': 2.438638,
  'TRY': 15.585746,
  'TTD': 7.107448,
  'TWD': 31.033378,
  'TZS': 2433.58854,
  'UAH': 30.773133,
  'UGX': 3706.364699,
  'USD': 1.051613,
  'UYU': 42.751271,
  'UZS': 11684.719535,
  'VEF': 224866662773.22687,
  'VND': 24148.717399,
  'VUV': 118.392339,
  'WST': 2.718885,
  'XAF': 653.662186,
  'XAG': 0.046695,
  'XAU': 0.000563,
  'XCD': 2.842037,
  'XDR': 0.780168,
  'XOF': 653.646702,
  'XPF': 119.174019,
  'YER': 263.217834,
  'ZAR': 16.589564,
  'ZMK': 9465.776913,
  'ZMW': 17.7678,
  'ZWL': 338.618989}}

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [13]:
# Turn the data into a dataframe
dataframe = pd.DataFrame(response.json())
dataframe

     success   timestamp base        date        rates
AED     True  1651603765  EUR  2022-05-03     3.862676
AFN     True  1651603765  EUR  2022-05-03    89.913098
ALL     True  1651603765  EUR  2022-05-03   120.672806
AMD     True  1651603765  EUR  2022-05-03   474.250245
ANG     True  1651603765  EUR  2022-05-03     1.886477
..       ...         ...  ...         ...          ...
YER     True  1651603765  EUR  2022-05-03   263.217834
ZAR     True  1651603765  EUR  2022-05-03    16.589564
ZMK     True  1651603765  EUR  2022-05-03  9465.776913
ZMW     True  1651603765  EUR  2022-05-03    17.767800
ZWL     True  1651603765  EUR  2022-05-03   338.618989

[168 rows x 5 columns]

In [14]:
dataframe.drop(columns=["success", "timestamp", "base", "date"], inplace=True)
dataframe

           rates
AED     3.862676
AFN    89.913098
ALL   120.672806
AMD   474.250245
ANG     1.886477
..           ...
YER   263.217834
ZAR    16.589564
ZMK  9465.776913
ZMW    17.767800
ZWL   338.618989

[168 rows x 1 columns]

In [27]:
dataframe.loc['GBP']

rates    0.842889
Name: GBP, dtype: float64

In [ ]:
# Save the Dataframe
dataframe.to_csv("/home/gustavo/Documents/Working_dir/DataEngineerIBM/Course3/exchange_rates_1.csv")

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR    |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).